[Unit]
Description=9Hits service

[Service]
User=root
Type=idle
Restart=always
RestartSec=5
ExecStart=/bin/bash /root/9Hits/start9hits.sh

[Install]
WantedBy=multi-user.target
